@import './partials/_variables.scss';

.card{
    height: 200px; 
    box-shadow: 2px 2px 2px $bgBodyCard;
    border: none;
    border-radius: 10px;
    img{
        width:100%;
        height: 200px;
        object-fit: center;
    }

    .poster-img{
        border-top-right-radius:10px;
        border-top-left-radius: 10px;

        border-bottom-right-radius:10px;
        border-bottom-left-radius: 10px;
    }
    .poster-img-empty{
        /* only when poster image == null */
        width:100%;
        height: 200px;

        border-top-right-radius:10px;
        border-top-left-radius: 10px;

        border-bottom-right-radius:10px;
        border-bottom-left-radius: 10px;
    }
    .back-img-empty{
        /* only backdrop == null  */
        display: none;

        width:100%;
        height: 200px;

    }
    .card-body{
        /* text/body visible only in hover */
        display: none;
        background-color:$bgBodyCard;
        color:white;
        font-weight: 700;
        p{
            margin: 0;
            padding:0;
            font-size: .8rem;
        }

        .card-text{
            text-transform: uppercase;
        }
        .text-red-bd{
            color:$textRed;
        }
        .bi-star-fill{
            color:$starsCol;
            margin: 0 .1rem;
        }

        .overview-text{
            font-size: .7rem;
                /* height: 3.5rem;
                overflow-y:auto; 
                scrollbar-width: thin;
                scrollbar-color: $textRed #5f625f;
                */
                /* padding: 0 .2rem; */
        }

        .text-actors{
            font-size: .8rem;
        }
    }
}

// # d-none di base- cambia in hover 
.back-img{
    display: none;
}

// # hover and d-none del poster-poster-bg-text 
.card:hover .poster-img{
    display: none;
}
.card:hover .poster-img-empty{
    display: none;
    
}

.card:hover .text-poster-empty{
    display: none;
}

// # hover backdropb visible 
.card:hover{
    transform: scale(1.2);
    z-index: 2;
}
.card:hover .back-img{
    display:block;
    /* opacity: 0.8; */
    filter: brightness(0.5);
}
.card:hover .back-img-empty{
    display: block;
}

.card:hover .card-body{
    display:block;
}