.card{
    height: 200px; 

    box-shadow: 2px 2px 2px rgb(14, 13, 13);
    border: none;
    img{
        width:100%;
        height: 200px;

        object-fit: center;
    }
    .poster-img-empty{
        /* only when poster image == null */
        width:100%;
        height: 200px;

        background: rgb(162, 20, 20);
        font-weight: 900;
        text-shadow: 2px 2px 10px black;
        text-transform: uppercase;
        display:flex; 
        justify-content: center; 
        align-items:center;
    }
    .back-img-empty{
        /* only backdrop == null  */
        display: none;

        width:100%;
        height: 200px;

        background: rgb(46, 44, 44);
    }
    .card-body{
        /* text/body visible only in hover */
        display: none;

        background-color: rgb(67, 62, 62);
        color:white;
        text-shadow: 1px 1px 1px black;
        text-transform: uppercase;
        font-weight: 700;
        p{
            margin: 0;
            padding:0;
            font-size: .8rem;
        }
        .bi-star-fill{
            color: rgb(220, 220, 23);
            margin: 0 .1rem;
        }

        .overview-text{
            font-size: .6rem;
            height: 3.5rem;
            overflow-y:auto;
            padding: 0 .2rem;
            scrollbar-color: #993338 #5f625f;
            scrollbar-width: thin;
        }

        .text-actors{
            font-size: .5rem;
        }
    }
}

// # d-none di base- cambia in hover 
.back-img{
    display: none;
}

// # hover and d-none del poster-poster-bg-text 
.card:hover .poster-img{
    display: none;
}
.card:hover .poster-img-empty{
    display: none;
    
}

.card:hover .text-poster-empty{
    display: none;
}

// # hover backdropb visible 
.card:hover{
    transform: scale(1.2);
    z-index: 2;
}
.card:hover .back-img{
    display:block;
    /* opacity: 0.8; */
    filter: brightness(0.5);
}
.card:hover .back-img-empty{
    display: block;
    transform: scale(1.2);
}

.card:hover .card-body{
    display:block;
}